* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.navbar {
    color: white;
    background-color: #0662CD;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.links {
    text-decoration: none;
    display: flex;
    gap: 20px;
    margin-right: 50px;
    margin-left: 30px;
}

.link li {
    list-style: none;
}

.logo {
    margin-left: 50px;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-right: 50px;
}

.btn {
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}

.start {
    color: white;
    background-color: #111;
}

a {
    text-decoration: none;
    color: white;
}
.property-listings {
    padding: 20px;
    text-align: center;
}

.property-listings h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Card Styles */
.card {
    position: relative;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.card-img-container {
    position: relative;
    width: 100%;
    height: 200px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.love-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: #e04e4c;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 2;
}

.card:hover .love-icon {
    opacity: 1;
    transform: scale(1);
}

.card:hover img {
    filter: brightness(70%);
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
}

.card-content p {
    color: #666;
}
.btn{
    padding: 10px 20px;
    border-radius:30px;
    cursor: pointer;
    border: none;
}
.det {
    margin-top: 15px;
    border: 1px solid #0662CD;
    color: #0662CD;
    background-color: white;
}

.det:hover {
    background-color: #0662CD;
    color: white;
}
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .card-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .card {
        width: 45%;
    }
}
