{% load static %}
<!-- {% include 'base.html' %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Listings</title>
    <link rel="stylesheet" href="{% static 'css/listings.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div class="main">
        <nav class="navbar">
            <div class="logo">
                <a href="{% url 'index' %}">  <img src="{% static 'img/Pystay Housing Logo white.png' %}" style="width:100px" alt="Pystay Housing Logo"> </a>
            </div>
            <div class="right">
                <div class="links">
                        <a href="{% url 'index' %}">Home</a>
                        <a href="{% url 'about' %}">About</a>
                        <a href="{% url 'listings' %}">Property Listings</a>
                        <a href="{% url 'contact' %}">Contact</a>
                </div>
                <div class="started">
                    <button class="btn">Log in</button>
                    <a href="{% url 'dashboard' %}"><button class="btn start">Get Started</button></a>
                </div>
            </div>
        </nav>
        
        <div class="property-listings">
            <h2>Available Properties</h2>
            <div class="card-container">
                <a href="view.html">
                    <div class="card" >
                        <div class="card-img-container">
                            <img src="{% static 'img/building 2.jpg' %}" alt="Property Image">
                            <div class="love-icon">
                                <ion-icon name="heart"></ion-icon>
                            </div>
                        </div>
                        <div class="card-content">
                            <h3>2 Bedroom House</h3>
                            <p>Nairobi, Kenya</p>
                            <p>KSH 40,000 / month</p>
                            <button class="btn det">Details</button>
                        </div>
                    </div>
                </a>
                <div class="card">
                    <div class="card-img-container">
                        <img src="{% static 'img/building 4.jpg' %}" alt="Property Image">
                        <div class="love-icon">
                            <ion-icon name="heart"></ion-icon>
                        </div>
                    </div>
                    <div class="card-content">
                        <h3>2 Bedroom House</h3>
                        <p>Nairobi, Kenya</p>
                        <p>KSH 40,000 / month</p>
                        <button class="btn det">Details</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img-container">
                        <img src="{% static 'img/building 5.jpg' %}" alt="Property Image">
                        <div class="love-icon">
                            <ion-icon name="heart"></ion-icon>
                        </div>
                    </div>
                    <div class="card-content">
                        <h3>2 Bedroom House</h3>
                        <p>Nairobi, Kenya</p>
                        <p>KSH 40,000 / month</p>
                        <button class="btn det">Details</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img-container">
                        <img src="{% static 'img/building 1.jpg' %}" alt="Property Image">
                        <div class="love-icon">
                            <ion-icon name="heart"></ion-icon>
                        </div>
                    </div>
                    <div class="card-content">
                        <h3>2 Bedroom House</h3>
                        <p>Nairobi, Kenya</p>
                        <p>KSH 40,000 / month</p>
                        <button class="btn det">Details</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img-container">
                        <img src="{% static 'img/building 3.jpg' %}" alt="Property Image">
                        <div class="love-icon">
                            <ion-icon name="heart"></ion-icon>
                        </div>
                    </div>
                    <div class="card-content">
                        <h3>2 Bedroom House</h3>
                        <p>Nairobi, Kenya</p>
                        <p>KSH 40,000 / month</p>
                        <button class="btn det">Details</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img-container">
                        <img src="{% static 'img/building 1.jpg' %}" alt="Property Image">
                        <div class="love-icon">
                            <ion-icon name="heart"></ion-icon>
                        </div>
                    </div>
                    <div class="card-content">
                        <h3>2 Bedroom House</h3>
                        <p>Nairobi, Kenya</p>
                        <p>KSH 40,000 / month</p>
                        <button class="btn det">Details</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img-container">
                        <img src="{% static 'img/building 2.jpg' %}" alt="Property Image">
                        <div class="love-icon">
                            <ion-icon name="heart"></ion-icon>
                        </div>
                    </div>
                    <div class="card-content">
                        <h3>2 Bedroom House</h3>
                        <p>Nairobi, Kenya</p>
                        <p>KSH 40,000 / month</p>
                        <button class="btn det">Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
