{% load static %}
{% include 'base.html' %}
    <link rel="stylesheet" href="{% static 'css/view.css' %}">
  
    <div class="main">
       

        <div class="property-details-container">
            <div class="property-images">
                <!-- Main Image -->
                <img src="{% static 'img/building 2.jpg' %}" alt="Main Property Image" class="main-image">
                <!-- Sub Images -->
                <div class="sub-images">
                    <img src="{% static 'img/interior.jpg' %}" alt="Sub Image 1">
                    <img src="{% static 'img/interior2.jpg' %}" alt="Sub Image 1">
                    <img src="{% static 'img/interior3.jpg' %}" alt="Sub Image 1">
                  
                </div>
            </div>
            <div class="property-info">
                <h2>125 Main St, 1A</h2>
                <p><strong>Price:</strong> Ksh 30,000 / month</p>
                <p><strong>Type:</strong> 3 Bedroom House</p>
                <p><strong>Location:</strong> Nairobi, Kenya</p>
                <p><strong>Description:</strong> Sunny, spacious, fully furnished.</p>
                <div class="contact-info">
                    <ion-icon name="call-outline" style="margin-right: 10px;"></ion-icon>
                    <span class="phone-number">+254 722 123 456</span>
                </div>
                <div class="property-amenities">
                    <h3>Unit amenities</h3>
                    <ul>
                            <li><ion-icon name="car-outline"></ion-icon> Parking</li>
                            <li><ion-icon name="school-outline"></ion-icon> Nearby Schools</li>
                            <li><ion-icon name="bed-outline"></ion-icon> Fully Furnished</li>
                            <li><ion-icon name="water-outline"></ion-icon> Swimming Pool</li>
                            <li><ion-icon name="barbell-outline"></ion-icon> Gym/Fitness Center</li>
                            <li><ion-icon name="bus-outline"></ion-icon> Public Transport Access</li>
                            <li><ion-icon name="paw-outline"></ion-icon> Pet-Friendly</li>
                            <li><ion-icon name="shield-checkmark-outline"></ion-icon> 24/7 Security</li>
                            <li><ion-icon name="leaf-outline"></ion-icon> Garden/Yard</li>
                            <li><ion-icon name="wifi-outline"></ion-icon> High-Speed Internet</li>
                    </ul>
                </div>
                <button class="btn contact-btn">Book</button>
            </div>
        </div>
    </div>

