 
 {% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Responsive Dashboard</title>
     <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
     <link rel="shortcut icon" href="{% static 'images/favicon.png'%}" type="image/x-icon">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
     <script src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" type="module"></script>
 </head>

<body>
    
<div class="dashboard-container">
        
        <aside class="sidebar">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="{% url 'listings' %}"> <img src="{% static 'img/Pystay Housing Logo white.png' %} " style="width:100px" alt=""> </a>
                </div>
                <div class="hamburger">
                    <ion-icon name="menu-outline" id="menu-icon"></ion-icon>
                </div>
            </div>
            <div class="menu" id="sidebar-menu">
                <div class="link">
                    <ion-icon name="apps-outline"></ion-icon>
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </div>
                <div class="link">
                    <ion-icon name="home-outline"></ion-icon>
                    <a href="{% url 'properties' %}">Properties</a>
                </div>
                <!-- <div class="link">
                    <ion-icon name="people-outline"></ion-icon>
                    <a href="{% url 'bookings' %}">Bookings</a>
                </div> -->
                <!-- <div class="link">
                    <ion-icon name="cash-outline"></ion-icon>
                    <a href="{% url 'reviews' %}">Reviews</a>
                </div>
                <div class="link">
                    <ion-icon name="person-circle-outline"></ion-icon>
                    <a href="{% url 'profile' %}">Profile</a>
                </div> -->
                <div class="help">
                    <!-- <div class="link">
                        <ion-icon name="settings-outline"></ion-icon>
                        <a href="">Settings</a>
                    </div> -->
                   

                    <div class="link">
                        <ion-icon name="home-outline"></ion-icon>
                        <a href="{% url 'listings' %}">Home</a>
                    </div>
                    
                    <div class="link">
                        <ion-icon name="log-out-outline"></ion-icon>
                        <a href="{% url 'listings' %}">Log out</a>
                    </div>
                </div>
            </div>
        </aside>       
{% block content %}
{% endblock %}

</div>

</body>
</html>

<!-- Main Content -->